* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: lightsalmon;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(78, 114, 162);
}

ul {
    list-style-type: none;
    overflow: auto;
    background-color: rgb(78, 114, 162);
}
  
li {
    float: right;
}
  
li
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.content {
    padding: 10px;
}

img {
    border-radius: 50%;
    height: 200px;
    width: auto;
}

section {
    padding: 10px;
    background-color: cadetblue;
}

p {
    padding: 5px;
}

footer {
    font-size: smaller;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    background-color: rgb(78, 114, 162);
}